.main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: calc(100% - 40px); /* Adjust for padding */
  margin: 20px auto; /* Center the content horizontally and provide top/bottom margin */
  margin-inline: 0; /* Add this line */
  width: 100%;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
  padding: 0 20px; /* Add padding to the sides to ensure equal gaps */
  letter-spacing: 2px;
}

.box {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.left-section {
  flex: 1.5; /* Slightly more space for the left section */
  text-align: left;
  
}

.left-section h1 {
  font-size: 2.5em;
  margin: 0;
  color: #333;
}

.right-section {
  flex: 1; /* Less space for the right section */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.glassy {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 8px 8px 7px 1px  rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

@media (max-width: 1200px) {
  .main-content {
    max-width: 90%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .left-section,
  .right-section {
    flex: none;
    width: 100%;
  }

  .box {
    margin-bottom: 20px;
  }
}
